@charset "utf-8";
/* CSS Document */

.bg{
	width:100%;
	height:50px;
		
}
.navbar-toggler{
	background-color: indianred
}
.nav .navbar-nav .navbar-collapse{
	background-color: palevioletred
}
.nav .navbar-nav .navbar-collapse:hover{
	background-color:orangered
}
		