@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&family=Tinos&display=swap');
body{
	background-color: #EFE8E0;
	font-family: 'Cormorant', sans-serif;
color:#111; }

footer{
	background-color: black;
	color:white;
	padding:20px 10px;
}
footer h4{font-size:20px;}
footer p{font-size:16px;}

h1{font-size: 36px;font-weight:600;color:#333;}
h2{font-size: 28.75px;font-weight:600;color:#333;}
h3{font-size: 23px;font-weight:500;color:#333;}
h4{font-size: 18.75px;font-weight:500;}
h5{font-size: 15px;font-weight:500;}
h6{font-size: 12px;font-weight:500;}
p{font-size: 14px;font-weight:500;}
.logo{
	text-align: center;
}
.bg-vang{
	
	background-color: #967C60;
	color: white;
	
	height:30px;
	line-height:30px;
	font-size: 11px;
	/* line-height: 14px; */
}


.w-50{width: 50%;}
.nav-left{
	position: absolute;
	right:-60px;
	width:200px;
	height:47px;
	border-radius: 24px;
	background-color: #F2F2F2;
	z-index:100000;
}
.nav-left input{
	background: none;
	border:none;
	height: 47px;
	line-height:47px;
	margin:10px 20px;
	font-size: 13px;
	outline: none;
	z-index:100000;
	}

.nav-left button
{
	background: none;
	border:none;
	height: 47px;
	line-height:47px;
	margin:10px 20px;
	font-size: 13px;
	color:black;
	outline: none;
	z-index:100000;}

.nav-right ul{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding: 0;
	margin:0;
}
.nav-right ul li{
	position: relative;
	margin-left: 18px;
	line-height: 80px;
}
.nav-right ul li i{
	font-size: 20px;
	color:#9f9f9f;
	
}
.login{
	position: absolute;
	right:-80px;
	width: 240px;
	height: auto;
	text-align: center;
	
	border-radius: 20px;
	line-height: 30px;
	background-color: #EFE8E6;
	display: none;
	z-index: 9999;
	
}
.btn-login{
	width: 200px;
	height:40px;
	
	background-color: gray;
	color:black;
	
}
.like{
	
	position: absolute;
	right:0;
	background-color: lightgrey;
	width: 480px;
	height:auto;
	border-radius: 20px;
	display: none;
	line-height: 30px;

}
.cart-iem{
	position: absolute;
	width:20px;
	height:20px;
	line-height:20px;
	border-radius: 10px;
	background-color:#967c60;
	color: white;
	text-align: center;
	top:14px;
	right:-10px;
	
	
}
.cart-iem p{
	color:white;
	font-size:20px;
	line-height:20px;
}
.cart{
	position: absolute;
	right:0px;
	background-color: #EFE8E6;
	width: 265px;
	height:auto;
	border-radius: 20px;
	display: none;
	line-height: 30px;
	z-index:9999;
	padding:10px;
}
.bg-none{
	background-color: none;
}
.btn-black{
	width: 200px;
	height:40px;
	border:none;
	background-color: #444;
	color:white;
	
	
}

.nav-main ul{
	display:flex;
	list-style: none;
	padding: 0;
	margin:0;
	justify-content: center;
	width: 100%;
	z-index: 0;
}
.nav-main ul li a{
	font-size: 20px;
	color:#222;
	font-weight: 500;
	text-transform:none;
	padding:0 16px;
	display: block;
	line-height: 37px;
	text-decoration: none; /*bỏ gạch dưới*/
	z-index: 0;
}
#btn-nav{
	border:1px solid #333;
	color:#666;
	width:50px;
	height: 40px;
	font-size: 24px;
	border-radius: 3px;
	background: none;
	display: none;
	position: absolute;
	top:31px;
	right:150px;
	
	
}
#cat p{font-size:16px;}
.cat-item{
	background-color: white;
	width: auto;
	height:200px;
	padding:8px;
	text-align: center;
	justify-content: center;
}
.re-img{
	border-radius: 60px;
	padding: 0;
	margin-left: 5px ;
}
.sub-banner{
	background-image:url("../images/image 9.png");
	background-size: cover ;
	background-attachment: fixed;
	background-repeat: no-repeat;
	justify-content: center;
	padding:60px;
	text-align: center;
	color:white;
	line-height:30px;
	
}
.tay-item h4{
	margin-top:16px;
	
}
.sub-banner h2{
	font-size:32px;
	color:white;
	font-weight:400;
}
.trending-pr .nav-link{
	color:#222;
	text-transform: uppercase;
	font-size: 14px;
}
.trending-pr .nav-pills{
	justify-content: center;
	
}
.trending-pr .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: #967C60;
	color: white;
}
.section-title{
	color:#222;
	text-align: center;
	padding: 0px 0 10px 0;
}
.pr-img{
	position: relative;
}
.img-1{
	position: absolute;
	top:0;
	left: 0;
	opacity: 1;
	}
	
.img-2{
	position: absolute;
	top:0;
	left: 0;
	opacity: 0;
}
.pr-item{
margin-bottom:22px;
padding:0 30px;
}
.pr-item:hover .img-1{
opacity: 0;
transition: 2s;
}
.pr-item:hover .img-2{
	opacity: 1;
	transition: 2s;
	}
.btn-addcart{
		width: 200px;
		height:40px;
		border-radius: 20px;
		background-color: black;
		color:white;
		opacity: 0;
		
		
	}

.pr-rating{
	display: flex;
	padding:0;
	margin-top: 0;
	margin-bottom:4px;
	list-style: none;
	justify-content: center;
}
.pr-rating li{
	margin: 0 1px;
}
.pr-rating li i{
	color: #9f9f9f;
}
.pr-name{
	text-align: center;
	font-size: 14px;
	color:#222;
	text-transform: uppercase;
	margin-bottom:0px;
	

}
.pr-price{
	display: flex;
	justify-content: center;
}
.new-price{
	font-size: 18px;
	color: red;
	margin:0 4px;
	font-weight:600;
}
.old-price{
	font-size: 18px;
	color: black;
	margin:0 4px;
	text-decoration: line-through;
}
.pr-icon{
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	bottom:5px;
	padding:0;
	margin:0;
	list-style: none;
	opacity: 0;
}
.pr-item:hover .pr-icon{
	opacity: 1;
	transition: 2s;
}
.pr-icon li i{color:#9f9f9f; margin:0 4px; justify-items: center;}
.tag-sale{
	width: 32px;
	height: 32px;
	background-color: #ccc;
	position: absolute;
}
.tab-pane{margin-top:20px;
margin-bottom:25px;}
.tag-sale p{
	font-size: 18px;
	text-align: center;
	justify-items: center;
	margin: auto;
	line-height: 32px;
	color: black;
}
.pr-rating li:nth-child(1) i, .pr-rating li:nth-child(2) i, .pr-rating li:nth-child(3) i, .pr-rating li:nth-child(4) i{
	color: #ffaa00;
}
.cat-item h6{margin-bottom:3px;}
.cat-item p{font-size: 11px;}
@media screen and (max-width: 1399px)
{

}
@media screen and (max-width: 1199px)
{
	
}
@media screen and (max-width: 992px)
{
	.nav-left{display:none;}	
	.logo{text-align: left;}
	.logo img{width:70%}
	#btn-nav{display: block;}
	.nav-main ul {flex-direction: column;}
	.nav-main {display:none;}
	.nav-main ul li {background-color: #ccc;color:#fff}
	#cat p{font-size:11px;}
}
@media screen and (max-width: 767px)
{
	
}
		

